.result__card {
  width: 100%;
  height: auto;
  background: var(--bg-white);
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1em;
}
.card__info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2em;
}
.card__left {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  align-items: center;
  justify-content: center;
}
.card__avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 0.6em;
}
.card__left p {
  font-size: 0.7em;
}
.card__left h3 {
  font-size: 0.9em;
}
.card__avatar img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.card__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6em;
}
.card__right h2 {
  font-size: 1.2em;
  font-weight: 600;
}
.card__right > div {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.5em 1em;
  border-radius: 10px;
}
.card__right > div > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2em;
}
.card__price {
  font-size: 0.9em;
  text-align: center;
  margin: 2em 0;
  font-weight: 500;
}
.card__tags {
  margin: auto;
  width: 86%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  overflow: scroll;
}
.card__tags::-webkit-scrollbar {
  display: none;
}

.card__tags > span {
  background: var(--bg-white);
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); */
  padding: 0.1em 0.8em;
  border-radius: 1.3em;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
